{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<div class="container">
    <div class="my-5 p-3 bg-dark rounded">
        <form action="{{ url_for('books.index') }}" class="row align-items-center">
            <div class="col-sm-12 mb-3 col-md-10 mb-md-0">
                <input autocomplete="off" type="text" class="form-control" id="book-name" name="name" placeholder="Название книги">
            </div>

            <div class="col-sm-12 col-md-2 align-self-end">
                <button type="submit" class="btn btn-outline-light w-100 mt-auto">Найти</button>
            </div>
        </form>
    </div>

    <div class="courses-list container-fluid mt-3 mb-3">
        {% for book in books %}
            <div class="row p-3 border rounded mb-3">
                <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                    <div class="course-logo" style="background-image: url({{ url_for('image', book_id=book.id) }});">
                    </div>
                </div>
                <div class="col-md-9 align-items-center">
                    <div class="d-flex">
                        <h4 class="text-uppercase">{{ book.name }}</h4>
                        <p class="ms-auto rating">
                            <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
                        </p>
                    </div>
                    <p class="text-muted my-3">{{ book.author }}</p>
                    <p>{{ book.desc | truncate(200) }}</p>
                    <div class="d-flex justify-content-end flex-direction-row">
                        <div class="mx-2">
                            <a class="btn btn-dark" href="{{ url_for('books.show', book_id=book.id) }}">Просмотр</a>
                        </div>
                        {% if current_user.role_id == 1 or current_user.role_id == 2 %}
                            <div class="mx-2">
                                <a class="btn btn-warning" href="{{ url_for('books.edit', book_id=book.id) }}">Редактирование</a>
                            </div>
                        {% endif %}
                        {% if current_user.role_id == 1 %}
                            <div class="ms-2">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-dark">
                                            <h5 class="modal-title text-light" id="exampleModalLabel">Удаление книги</h5>
                                        </div>
                                        <div class="modal-body m-1">
                                            Вы уверены, что хотите удалить книгу "{{ book.name }}"?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <a class="btn btn-danger" href="{{ url_for('books.delete', book_id=book.id) }}">Да</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="mb-5">
        {{ render_pagination(pagination, request.endpoint, search_params) }}
    </div>

    {% if current_user.is_authenticated %}
        <div class="text-center my-3">
            <a class="btn btn-lg btn-dark" href="{{ url_for('books.new') }}">Добавить книгу</a>
        </div>
    {% endif %}

</div>

{% endblock %}